.header{
    display: grid;
    .nav{
        display: grid;
    }
    .div{
        display: grid;
    }
    
    }
.img_princial{
    width: 350px;
    margin-bottom: 20px;
}
.articleConteiner{
    justify-content: center;
    justify-items: center;
    display: grid;
}
.sectionConteiner{
    justify-content: center;
    justify-items: center;
    
}


