.section{
    margin-left: 100px;
}
.article{
    margin-left: 100px;
}
.main{
    margin-left: 100px;
}
.img-main{
    margin-left: 100px;
}
.div.main{
    text-align: justify;
    justify-content: space-around;
    display: flex;
    align-items: center;
    justify-items: center;
    margin-top: 30px;
    margin: 30px;
    

}
.li.main{
    text-align: center;
    justify-content: space-around;
    justify-items: center;
    display: grid;
    align-items: center;
}
.div.h2{
    text-align: center;
    justify-content: space-around;
    display: flex;

}
.h2{
    margin-left: 50px;
}